body{
    background-color: rgb(69, 95, 95);

}
.menu{
    width: 40%;
    margin-left: 67%;
}
.ref{
    margin: 2px;
    color: black;
    font-size: 22px;
}
.ref:hover{
    color: white;
}
#buttondo{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}
#buttondo:hover{
    color: white;
}
#buttonq{   
    font-size: 20px;
    margin: 20px;
}
#borde{
    border: 10px solid rgb(49, 49, 141);;
    border-radius: 10px;
}
.backgrform{
    padding: 15%;
    border-radius: 20px;
    margin: 90px;
    background-color: whitesmoke;
}
label{
    color: blue;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.loginsen{
    width: 30%;
    padding: 2px;
    border-radius: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80%;
}
#login2{
    font-size: 20px;
}
#foto{
    border: 2px solid blue;
    border-radius: 5px;
}
.relex{
    color:rgb(0, 0, 0);
    border-radius: 10px;
    width: 30%;
    margin-right: 30px;
    padding: 9px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(49, 49, 141);
}
input{
    margin: 10px;
}
strong{
    color: white;
}
.relex2{
    color: rgb(49, 49, 141);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 35%;
    margin-left: 10px;
    margin-right: auto;
}
#send:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
#register{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 20px;
}
#register:hover{
    color: blue;
}